* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-heading {
  text-align: center;
  margin-bottom: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
}

#interface {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card {
  width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10px 20px 0 20px;
  padding: 25px;
  text-align: center;
}

.card > * {
  transition: 1s;
}

.card > *.next {
  margin-left: 50px;
}

.card > *.prev {
  margin-left: -50px;
}

.arrow {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.arrow-props {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 900px;
  cursor: pointer;
}

.arrow div {
  height: 10px;
  width: 10px;
  border-top: 5px solid black;
  border-left: 5px solid black;
  position: relative;
}

.arr-anim {
  left: 0;
  transition: 0.25s;
}

.left {
  transform: rotate(-44deg);
}

.arrow:hover .left {
  left: -5px;
}

.right {
  transform: rotate(134deg);
}

.arrow:hover .right {
  left: 5px;
}

.pfp {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.full-name {
  color: green;
}

.title {
  padding: 5px;
}

.description {
  padding: 5px 25px;
  color: rgba(0, 0, 0, 0.55);
}
